{{#unless contact}}
<h2>That contact could not be found!</h2>
{{else}}
<h2>Name:  {{contact.name}}</h2>
<h2>Phone: {{contact.phone}}</h2>
<h2>Email: {{contact.email}}</h2>




<form action="/contacts/{{contact.name}}" method="post">
  <input type="text" name="contact[name]" placeholder="Name" value="{{contact.name}}" />
  <input type="text" name="contact[phone]" placeholder="Phone" value="{{contact.phone}}" />
  <input type="text" name="contact[email]" placeholder="Email" value="{{contact.email}}" />
<button type="sumbit">Edit Contact</button> <form method="post" action="/contacts/{{contact.name}}/delete"><button type="submit">Delete Contact</button></form>
</form>
{{/unless}}
